body {
    font-family: Helvetica, sans-serif;
    background-color: antiquewhite;
}

#header {
    text-align: center;
    text-decoration: underline;
}

.recipe-container {
    display: flex;
    text-align: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

.recipe-list {
    display: inline-block;
    background-color: rgb(217, 217, 217);
    font-size: 24px;
    text-align: left;
    padding: 10px 10px;
}

li {
    margin: 10px 0;
    list-style: none;
}

a:hover {
    color: red;
}